# Projeto Técnicas de programação I

## Análise exploratória de dados/Pandas

Nomes: Adriano Gambetta, Mike Valente e Pedro Marques

Turma: 970

Nesse projeto trabalharemos com dados fictícios de investidores.

São 3 arquivos que devem ser carregados para responder as perguntas abaixo.

Para a entrega, coloque o notebook respondido no seu github (um por grupo)!

Informações

Cadastro:
- **id** : Identificação do investidor
- **Nome** : Nome completo do investidor 
- **Sexo** : Feminino ou masculino
- **Nasc** : Data de nascimento
- **Idade** : Idade do investidor 
- **Email** : E-mail do investidor
- **Lat_long** : Dados geográficos do investidor
- **Job** : Profisão do investidor ou do seu responsável (em inglês)
- **Estado** : Estado onde o investidor reside

Investimento:
- **id** : Identificação do investidor
- **Salario** : Renda do investidor ou seu responsável
- **Perfil** : Perfil de investimento
- **Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07** : O quanto de dinheiro o investidor colocou em cada ativo
- **Nota1, Nota2** : O quanto o investidor está satisfeito com nossa empresa (2 avaliações)

Lembrando que esses dados são irreais e fictícios

Arquivo cadastro.csv


Arquivo investimento.csv (dividido em 2 partes)

### Critérios de avaliação

Os seguintes itens serão avaliados:

1. Reprodutibilidade do código: seu código será executado e precisa gerar os mesmos resultados apresentados por você;

2. Clareza: seu código precisa ser claro e deve existir uma linha de raciocínio direta. Comente o código em pontos que julgar necessário para o entendimento total;

3. Explicação de todos os processos feitos e decisões tomadas

## Informações Gerais sobre o Projeto

- O projeto poderá ser desenvolvido __individualmente__ ou em __grupos com até 4 pessoas__, caos façam em grupos enviar a relação de alunos do grupo para o professor;


- Data de Entrega: 14/04/2023;

- Entrega: Através do _Class_

## 1 - Carregar os arquivos e cadastro, investimento1 e investimento2 e mostrar a quantidade de linhas de cada um, além das informações desses dataframes

In [ ]:
import pandas as pd
import datetime as dt
import numpy as np

In [ ]:
cadastro=pd.read_csv('cadastro.csv')
invest1=pd.read_csv('investimento_parte1.csv')
invest2=pd.read_csv('investimento_parte2.csv')

In [ ]:
print('Informações tabela de cadastro')
print(cadastro.info())
print(32*'-')
print('Informações tabela de Investimento parte 1')
print(invest1.info())
print(32*'-')
print('Informações tabela de Investimento parte 2')
print(invest2.info())

Informações tabela de cadastro
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38754 entries, 0 to 38753
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        38754 non-null  object
 1   Nome      38754 non-null  object
 2   Sexo      38754 non-null  object
 3   Nasc      38754 non-null  object
 4   Idade     38754 non-null  int64
 5   Email     38754 non-null  object
 6   Lat_long  38754 non-null  object
 7   Job       38754 non-null  object
 8   Estado    38754 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.7+ MB
None
--------------------------------
Informações tabela de Investimento parte 1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       20000 non-null  object
 1   Salario  20000 non-null  object
 2   Perfil   20000 non-null  object
 3   Ativo01  15012 non-null  float64
 4   Ativo02  16857 non-null  float64
 5   Ativo03  16760 non-null  float64
 6   Ativo04  13799 non-null  float64
 7   Ativo05  16829 non-null  float64
 8   Ativo06  9895 non-null   float64
 9   Ativo07  20000 non-null  float64
 10  Nota1    18469 non-null  float64
 11  Nota2    18954 non-null  float64
dtypes: float64(9), object(3)
memory usage: 1.8+ MB
None
--------------------------------
Informações tabela de Investimento parte 2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24052 entries, 0 to 24051
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       24052 non-null  object
 1   Salario  24052 non-null  object
 2   Perfil   24052 non-null  object
 3   Ativo01  17994 non-null  float64
 4   Ativo02  20245 non-null  float64
 5   Ativo03  20249 non-null  float64
 6   Ativo04  16685 non-null  float64
 7   Ativo05  20211 non-null  float64
 8   Ativo06  11932 non-null  float64
 9   Ativo07  24052 non-null  float64
 10  Nota1    22172 non-null  float64
 11  Nota2    22810 non-null  float64
dtypes: float64(9), object(3)
memory usage: 2.2+ MB
None

## 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [ ]:
invest=pd.concat([invest1, invest2],ignore_index=True)

In [ ]:
#Checando se a soma das linhas das duas tabelas é igual a tabela após ser concatenada
print(invest.shape[0]==invest1.shape[0]+invest2.shape[0])
print(f"Quantidade de linhas: {invest.shape[0]}")

True
Quantidade de linhas: 44052

## 3 - Crie um novo dataframe eliminando as linhas duplicadas

In [ ]:
cadastro_clean=cadastro.drop_duplicates()
invest_clean=invest.drop_duplicates(ignore_index=True)

## 4 - Junte o dataframe de investimento com o de cadastro
Dica: use a chave id

In [ ]:
df=cadastro_clean.merge(invest_clean,how='inner',on='id')

## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [ ]:
df_id=df.sort_values(by='id',ignore_index=True)

## 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

In [ ]:
print("Quantidade de valores nulos")
df_id.isna().sum()

Quantidade de valores nulos

id              0
Nome            0
Sexo            0
Nasc            0
Idade           0
Email           0
Lat_long        0
Job             0
Estado          0
Salario         0
Perfil          0
Ativo01      9724
Ativo02      6100
Ativo03      6169
Ativo04     11887
Ativo05      6191
Ativo06     19514
Ativo07         0
Nota1        3000
Nota2        2000
dtype: int64

In [ ]:
print("Porcentagem de valores nulos")
df_id.isna().sum()/df_id.shape[0]

Porcentagem de valores nulos

id          0.000000
Nome        0.000000
Sexo        0.000000
Nasc        0.000000
Idade       0.000000
Email       0.000000
Lat_long    0.000000
Job         0.000000
Estado      0.000000
Salario     0.000000
Perfil      0.000000
Ativo01     0.250916
Ativo02     0.157403
Ativo03     0.159184
Ativo04     0.306730
Ativo05     0.159751
Ativo06     0.503535
Ativo07     0.000000
Nota1       0.077411
Nota2       0.051608
dtype: float64

In [ ]:
df_id[(df_id['Ativo01']==0) | (df_id['Ativo02']==0) | (df_id['Ativo03']==0) | (df_id['Ativo04']==0) | (df_id['Ativo05']==0) | (df_id['Ativo06']==0)]

Empty DataFrame
Columns: [id, Nome, Sexo, Nasc, Idade, Email, Lat_long, Job, Estado, Salario, Perfil, Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07, Nota1, Nota2]
Index: []

In [ ]:
#Como não existem valores zerados para as colunas de ativos, consideramos que os valores NaN representam que os clientes não investiram nesses ativos, então substituiremos NaN por 0.
df_id[['Ativo01','Ativo02','Ativo03','Ativo04','Ativo05','Ativo06','Ativo07']]=df_id[['Ativo01','Ativo02','Ativo03','Ativo04','Ativo05','Ativo06','Ativo07']].fillna(0)

In [ ]:
#Substituiremos os valores NaN pela média, para que a falta de avaliação do usuário não impacte na média das avaliações.
df_id[['Nota1','Nota2']]=df_id[['Nota1','Nota2']].fillna(df_id[['Nota1','Nota2']].mean())

In [ ]:
df_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38754 entries, 0 to 38753
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        38754 non-null  object
 1   Nome      38754 non-null  object
 2   Sexo      38754 non-null  object
 3   Nasc      38754 non-null  object
 4   Idade     38754 non-null  int64
 5   Email     38754 non-null  object
 6   Lat_long  38754 non-null  object
 7   Job       38754 non-null  object
 8   Estado    38754 non-null  object
 9   Salario   38754 non-null  object
 10  Perfil    38754 non-null  object
 11  Ativo01   38754 non-null  float64
 12  Ativo02   38754 non-null  float64
 13  Ativo03   38754 non-null  float64
 14  Ativo04   38754 non-null  float64
 15  Ativo05   38754 non-null  float64
 16  Ativo06   38754 non-null  float64
 17  Ativo07   38754 non-null  float64
 18  Nota1     38754 non-null  float64
 19  Nota2     38754 non-null  float64
dtypes: float64(9), int64(1), object(10)
memory usage: 5.9+ MB

## 7 - Manipule os dados a seguir:
- Criar coluna "Total" somando o valor de todos os ativos por investidor
- Criar coluna "Media" com a média das notas 1 e 2
- Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
- Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
- Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
- Transformar os dados da coluna Media em inteiro
- Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

In [ ]:
df_id

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606

In [ ]:
df_id['Total']=df_id.iloc[:,11:18].sum(axis=1)
df_id['Media']=df_id.iloc[:,18:20].mean(axis=1)
df_id['Dominio']=df_id['Email'].apply(lambda email: email.split('@')[1])
df_id['Salario']=df_id['Salario'].apply(lambda salario: float(salario.split('$')[1]))
df_id.rename(columns={'Salario':'Renda'},inplace=True)

In [ ]:
#Checando os valores únicos da coluna sexo
df_id['Sexo'].unique()

array(['Fem', 'Masc'], dtype=object)

In [ ]:
df_id['Sexo']=list(map(lambda sexo: 'Masculino' if sexo=='Masc' else 'Feminino',df_id['Sexo']))

In [ ]:
df_id['Media']=np.round(df_id.Media,0).astype('int')

In [ ]:
#Iterando a coluna Média para gerar a coluna NPS
lista_NPS = []

for idx,row in df_id.iterrows():

  if row.Media < 50:
    lista_NPS.append('Detrator')
  elif row.Media > 80:
    lista_NPS.append('Promotor')
  elif (row.Media >=50 & row.Media <= 80): 
    lista_NPS.append('Neutro')

df_id['NPS'] = pd.Series(lista_NPS)

## 8 - Calcule os seguintes dados
- Calcule o total investido em cada coluna Ativo (tente usar o apply)
- Qual o menor valor investido em cada ativo?
- Mostre a média e desvio padrão de cada ativo
- Qual a idade do investidor mais velho?
- Qual a mediana da coluna Média?

In [ ]:
#Criando dataframe de investimentos maiores do que 0
ativos = df_id.iloc[:,11:18]
ativos_positivos = ativos[ativos>0]
ativos_positivos.head()

   Ativo01  Ativo02  Ativo03   Ativo04  Ativo05  Ativo06  Ativo07
0  1174.27  4980.98  2638.24       NaN  4480.91  2329.72   480.72
1   842.12  5646.09  3336.07       NaN  5624.22  2669.98   504.17
2   818.81  5516.52  3396.64       NaN  5033.83  2229.45   523.12
3      NaN  5258.69  3723.10       NaN  5933.91      NaN   486.05
4  1505.16  6415.30  3462.67  30841.35  6044.86  2198.89   512.98

In [ ]:
#Total investido por ativo, feito via compreensão de lista
total_ativos = [ativos_positivos[col].sum(axis=0) for col in ativos_positivos.columns]
print(total_ativos)

[32755689.89, 168079806.78, 102330550.86000001, 407133967.35, 172066821.09999996, 44626844.36, 19379032.72]

In [ ]:
min_ativos = [ativos_positivos[col].min(axis=0) for col in ativos_positivos.columns]
print(min_ativos)

[800.01, 4500.05, 2500.01, 5000.81, 4000.14, 2000.04, 462.93]

In [ ]:
media_ativos = [ativos_positivos[col].mean(axis=0) for col in ativos_positivos.columns]
stdev_ativos = [ativos_positivos[col].std(axis=0) for col in ativos_positivos.columns]

print(media_ativos)
print(stdev_ativos)

[1128.3393003789183, 5147.296097874686, 3140.4189307963793, 15153.68174154167, 5284.1206614869625, 2319.482555093555, 500.05245187593533]
[218.82270950635808, 398.6764997951093, 395.7146001863656, 6972.128306044476, 795.1812721190705, 240.66964111910877, 9.998218104115871]

In [ ]:
#Idade dos investidores mais velhos
maior_idade = df_id[df_id.Idade == df_id.Idade.max()]['Idade'].unique()
maior_idade

array([51])

In [ ]:
#Mediana das notas médias dos investidores
mediana_nota_media = df_id.Media.median(axis=0)
mediana_nota_media

50.0

## 9 - Responder as perguntas abaixo

- Quantos investidores são promotores?
- Quantos investidores são do sexo feminino?
- Quantos investidores investiram mais de 16000 no Ativo04?
- Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
- Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?

- Quantos investidores tem em cada estado (dica: use groupby)
- Qual é a soma do total investido por cada estado?
- Como os investidores se distribuem em promotores, detratores e neutros?
- Qual é a média do total investido por promotores, detratores e neutros?

In [ ]:
promotores = (df_id['NPS']=='Promotor').sum()
promotores

2574

In [ ]:
fem = (df_id['Sexo']=='Feminino').sum()
fem

19385

In [ ]:
invest_4 = len(df_id[df_id.Ativo04>16000])
invest_4

10689

In [ ]:
invest_4_5 = len(df_id[(df_id.Ativo04>16000) & (df_id.Ativo05 < 5000)])
invest_4_5

5374

In [ ]:
len(df_id)

38754

In [ ]:
fem_25_10k = len(df_id[(df_id.Sexo=='Feminino')&(df_id.Idade>25)&(df_id.Total<10000)])
print(fem_25_10k)
print(f'Em uma base de dados de um total de {len(df_id)} clientes, apenas {fem_25_10k} são mulheres com mais de 25 anos e menos de 10 mil investidos.\n'\
      'A falta de investidoras nesse perfil significa que podem ser feitas campanhas pra incentivar e tentar captar mais membros desse público.\n'\
      'Como por exemplo: algum programa de mulheres investidoras, palestras, educação financeira, conversas com gestores de investimento.')

442
Em uma base de dados de um total de 38754 clientes, apenas 442 são mulheres com mais de 25 anos e menos de 10 mil investidos.
A falta de investidoras nesse perfil significa que podem ser feitas campanhas pra incentivar e tentar captar mais membros desse público.
Como por exemplo: algum programa de mulheres investidoras, palestras, educação financeira, propaganda, conversas com gestores de investimento.

In [ ]:
group_estado = df_id.groupby('Estado')['Nome'].count()
group_estado

Estado
AC    1435
AL    1376
AM    1495
AP    1438
BA    1484
CE    1465
DF    1470
ES    1472
GO    1394
MA    1454
MG    1407
MS    1436
MT    1390
PA    1421
PB    1405
PE    1477
PI    1503
PR    1371
RJ    1466
RN    1472
RO    1440
RR    1495
RS    1393
SC    1430
SE    1319
SP    1464
TO    1382
Name: Nome, dtype: int64

In [ ]:
soma_estado = df_id.groupby('Estado')['Total'].sum()
soma_estado

Estado
AC    35362505.80
AL    33763479.45
AM    37036424.81
AP    34996432.12
BA    36188507.51
CE    35959807.36
DF    36277409.37
ES    36112618.12
GO    34234860.26
MA    34952752.65
MG    33820223.17
MS    35279491.41
MT    34206427.27
PA    34877463.97
PB    34248820.05
PE    35353945.12
PI    37038930.90
PR    33002424.19
RJ    35910946.83
RN    35755623.32
RO    34341430.55
RR    36543504.21
RS    34300026.29
SC    35223280.67
SE    32496697.65
SP    35624582.45
TO    33464097.56
Name: Total, dtype: float64

In [ ]:
perfil_NPS = df_id.NPS.value_counts()
perfil_NPS

Detrator    19075
Neutro      17105
Promotor     2574
Name: NPS, dtype: int64

In [ ]:
media_total_NPS = df_id.groupby('NPS')['Total'].mean()
media_total_NPS

NPS
Detrator    24381.763343
Neutro      24461.202684
Promotor    24429.566974
Name: Total, dtype: float64